
<div *ngIf='beer'  class='container'>
    <div class='row'>
        <div class='col-lg-2'>
            <img src={{beer.imageUrl}}>
        </div>
        <div class='col-lg-5 border border-rounded'>
            <h2 class='font-weight-bold'>Beer Description</h2>
            <p *ngIf='isLess===false'>{{beer.description}}</p>
            <p *ngIf='isLess===true'>{{ (beer.description.length>200)? (beer.description | slice:0:200)+'...':(beer.description)}}</p>
            <span *ngIf='beer.description.length>200' (click)='moreToggle()' class='font-italic text-primary' >{{moreLessBtn}}</span>
            <h2 class='font-weight-bold'>Beer Style</h2>
            <p innerHTML="{{beer.style.description}}"></p>
        </div>
        <div class='col-lg-5 border border-rounded'>
            <h2 class='font-weight-bold'>Brewery</h2>
            <h3 class="font-italic">{{beer.brewer.name}}</h3>
            <div *ngIf='beer.brewer.facebook'>
                <a href={{beer.brewer.facebook}}><i class="fa fa-facebook-official fa-4x text-info"></i></a>
            </div>
            <div *ngIf='beer.brewer.web'>
                <a href={{beer.brewer.web}}><i class="fa fa-internet-explorer fa-4x text-info"></i></a>
            </div>
        </div>
    </div>   
    <a [routerLink]="['/reviews', beer.id]"><button class='btn btn-primary'>Reviews</button></a>
</div>
 