<div class="review-block-rate rating-block">
    <h4>Rating breakdown</h4>
 <div class='row'>
   <div class='col-sm-7'>
      <button type="button" class='btn btn-warning btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>  
      <button type="button" class='btn btn-warning btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
      <button type="button" class='btn btn-warning btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
      <button type="button" class='btn btn-warning btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
      <button type="button" class='btn btn-warning btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>    
   </div>
   <div class='col-sm-2'>
      <div id="5star" class="pull-right count"></div>
   </div>
 </div>

  <br>
  <div class='row'>
      <div class='col-sm-7'>
         <button type="button" class='btn btn-warning btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>  
         <button type="button" class='btn btn-warning btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
         <button type="button" class='btn btn-warning btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
         <button type="button" class='btn btn-warning btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
         <button type="button" class='btn gray-btn btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>    
      </div>
      <div class='col-sm-2'>
         <div id="4star" class="pull-right count"></div>
      </div>
    </div>

  <br>
  <div class='row'>
      <div class='col-sm-7'>
         <button type="button" class='btn btn-warning btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>  
         <button type="button" class='btn btn-warning btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
         <button type="button" class='btn btn-warning btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
         <button type="button" class='btn gray-btn btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
         <button type="button" class='btn gray-btn btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>    
      </div>
      <div class='col-sm-2'>
         <div id="3star" class="pull-right count"></div>
      </div>
    </div>

  <br>
  <div class='row'>
      <div class='col-sm-7'>
         <button type="button" class='btn btn-warning btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>  
         <button type="button" class='btn btn-warning btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
         <button type="button" class='btn gray-btn btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
         <button type="button" class='btn gray-btn btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
         <button type="button" class='btn gray-btn btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>    
      </div>
      <div class='col-sm-2'>
         <div id="2star" class="pull-right count"></div>
      </div>
    </div>
  <br>
  <div class='row'>
      <div class='col-sm-7'>
         <button type="button" class='btn btn-warning btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>  
         <button type="button" class='btn gray-btn btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
         <button type="button" class='btn gray-btn btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
         <button type="button" class='btn gray-btn btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
         <button type="button" class='btn gray-btn btn-xs'  aria-label="Left Align"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>    
      </div>
      <div class='col-sm-2'>
         <div id="1star" class="pull-right count"></div>
      </div>
    </div>
</div>