<div *ngIf='beers' class='container'>
    <ul class='list-group'>
        <li *ngFor='let beer of beers.data.topBeers.items' 
        class="list-group-item "
        [class.active]="beer === selectedBeer" 
        (click)="onSelect(beer)">{{beer.name}}</li>
    </ul>
</div>
  

<div *ngIf='selectedBeer'  class='container'>
   
        <div class='row'>
            <div class='col-md-2'>
             <img src={{selectedBeer.imageUrl}}>
            </div>
            <div class='col-md-3'>
                <p>{{selectedBeer.description}}</p>
                <p>{{selectedBeer.style.description}}</p>
            </div>
            <div class='col-md-7'>
                <h3>{{selectedBeer.brewer.name}}</h3>
                <div *ngIf='selectedBeer.brewer.facebook'>
                    <a href={{selectedBeer.brewer.facebook}}><i class="fa fa-facebook-official fa-4x text-info"></i></a>
                </div>
                <div *ngIf='selectedBeer.brewer.web'>
                    <a href={{selectedBeer.brewer.web}}><i class="fa fa-internet-explorer fa-4x text-info"></i></a>
                </div>
            </div>
        </div>        
    
</div>  
      
  
<app-beer-detail></app-beer-detail>